/* Global */

.scene {
  width: 100vw;
  height: 100vh;

  position: relative;

  background-image: url("../assets/Background.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.corkboard {
  width: 350px;

  position: absolute;
  top: 150px;
  left: 80px;

  cursor: pointer;

  user-select: none;
}

.modal-open .corkboard {
  pointer-events: none;
}

.modal-open .main-timer-container {
  pointer-events: none;
}

.modal-open .login-button {
  pointer-events: none;
}

.modal-open .profile-menu-container {
  pointer-events: none;
}
