.scene {
  width: 100vw;
  height: 100vh;

  background-color: #d8c7aa;

  position: relative;
}

.corkboard {
  width: 350px;
  height: 250px;

  background-color: #b98d58;
  border: 12px solid #5e3c1b;

  position: absolute;
  top: 100px;
  left: 80px;
}