/* Global */

.scene {
  width: 100vw;
  height: 100vh;

  position: relative;

  background-image: url("../assets/Background.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.corkboard {
  width: 350px;

  position: absolute;
  top: 150px;
  left: 120px;

  cursor: pointer;

  user-select: none;

  transition:
    transform 0.25s ease,
    filter 0.25s ease,
    box-shadow 0.25s ease;

  filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.2));
}

.corkboard:hover {
  transform: scale(1.05);

  filter: drop-shadow(0 14px 18px rgba(0, 0, 0, 0.28));
}

.corkboard:active {
  transform: scale(1);

  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.modal-open .corkboard {
  pointer-events: none;
}

.modal-open .main-timer-container {
  pointer-events: none;
}

.modal-open .login-button {
  pointer-events: none;
}

.modal-open .profile-menu-container {
  pointer-events: none;
}
